* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body, #page {
	position: relative;
	min-height: 100%;
    width: 100%;
}

html {
	font-family: "Menlo", monospace;
	font-size: 12px;
	line-height: 16px;

	/* safari can't handle fonts */
	-webkit-font-smoothing: subpixel-antialiased;

	color: #000;
	background-color: #bbb;
}

body {
	width: 500px;
    max-width: 100%;
    margin: 0px auto;
}

/* this is so that the text on link.php looks normal. */
p:first-of-type {
	margin-top: 0px;
}
p:last-of-type {
	margin-bottom: 0px;
}

/* links + colours */

span.action {
	padding: 0px 5px;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #777;
	background-color: #d6d6d6;
	vertical-align: initial;
}

a:hover {
	color: #fff;
	background-color: #999;
}

aside {
    font-size: 9px;
}

#header-container,
#footer-container {
	color: #fff;
	background-color: #000;
}

#header-container a:link,
#header-container a:visited,
#header-container a:active,
#footer-container a:link,
#footer-container a:visited,
#footer-container a:active {
	color: #fff;
	background-color: #666;
}

#header-container a:hover,
#footer-container a:hover {
	background-color: #333;
}

#body-container {
	background-color: #e3e3e3;
}

::selection {
	color: white;
	background: red;
}

.child > span {
	padding-right: 5px;
}

#body > div:nth-child(odd) {
	background-color: #e3e3e3;
}

#body > div:nth-child(even) {
	background-color: #ececec;
}

#header-container,
#body > div,
#footer-container {
	padding: 16px;
}

.child + #object-actions,
.select-container + .button-container,
.button-container,
.children-container,
.children-page + #object-actions
{
	padding-top: 16px;
}

.license-container,
.existing-image,
.to-upload-image {
	padding: 16px 0px;
}

.remove-upload {
	display: inline-block;
	font-size: 1.2em;
	padding: 2px 8px;
	cursor: pointer;
}

/* forms */
#object > div {
	display: inline-block;
}

.field,
.image-upload {
	margin: 15px 0;
}

.field-name {
    display: inline-block;
}
.existing-image .field-name {
	margin-top: 3px;
}
.editable {
    font-family: -apple-system, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    padding: 4px;
    background-color: #FFF;
    -webkit-appearance: textfield;
    border-width: .1px;
    border-style: solid;
    border-color: #CCC;
}

/* form elements */
textarea,
input[type="text"] {
	padding: 5px;
}

input[type="datetime-local"] {
}

input[type="number"],
input[type="datetime-local"] {
	height: 2em;
	padding: 0px 5px;
}
input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 0;
}
input[type="checkbox"] + label{
	cursor: pointer;
}
textarea {
	/*resize: vertical;*/
}

textarea.large {
	height: 15em;
}

textarea.medium {
	height: 4em;
}

textarea.small {
	height: 2em;
}

#body > div:nth-child(odd) .toolbar {
	background-color: #e3e3e3;
}

#body > div:nth-child(even) .toolbar {
	background-color: #ececec;
}

.toolbar {
	width: 484px;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;

}

.imagebox {
	height: 5em;
	background-color: #999;
	overflow-y: hidden;
	overflow-x: scroll;

	display: flex;
	flex-direction: row;
}

.image-container {
	cursor: pointer;
	height: 100%;
	margin-left: 5px;
}

.image-container:hover,
.image-container:active {
	opacity: 0.5;
}

.image-container:first-of-type {
	margin-left: 0px;
}

.image-container > img {
	height: 100%;
	width: auto;
}

img,
textarea,
input[type="text"],
input[type="number"],
input[type="datetime-local"] {
	width: 100%;
}

select {
	max-width: 100%;
}

#body {
    width: 100%;
    height: 100%;
}

/* utility classes */
.preview {
	max-width: 100%;
}

.dontdisplay {
    display: none;
}

.hide {
    visibility: hidden;
}

.right {
    position: absolute;
    right: 16px;
}

.folio, 
.children-prev, 
.children-next{
	padding: 0 2px;
	margin: 0 5px ;

	cursor: pointer;
	display: inline-block;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.folio:first-child{
	margin-left: 10px;
	/*padding-left: 0;*/
}
.folio.active{
	/*font-weight: bold;*/
	color: #000;
	background-color: transparent;
}
.select-container select{
	width: 100%;
}
.filter-container{
	margin-top: 3px;
}
.filter-container > input, 
.filter-container > a
{
	vertical-align: bottom;
}
.filter_input{
	width: 325px;
}
.filter_btn, .clear_btn{
	margin-left: 10px;
}
.small-text{
	font-size: 0.75em;
}
.indent-text{
	margin-left: 50px;
}
.event-row:hover{
    background-color: #fff;
}
.sync-row
{
	display: flex;
	min-height: 18px;
}
.sync-row + .sync-row
{
	margin-top: 2px;
}
.sync-row > label{
	flex: 1;
}
.sync-row > select
{
	font-size: inherit;
	line-height: inherit;
	flex: 0 0 120px;
}
@media screen and (max-device-width: 568px) {
	html {
		font-size: 13px;
		line-height: 1.5;
	}
}
